# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
Build/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/

# JetBrains IDEs
.idea/

# Editor backups
*.swp
*.swo
*~

# Internal docs
docs/

# Environment
.env
.env.local
